:root{
  --primary: #69ECD4;
  --secondary: #373a40;
  --info: #17a2b8;
  --write: #ffffff;
  --dark: #222222;

  --altura-Inicio: 100vh;
  --altura-Inicio-Minima: max-content;
}

html{
    scroll-behavior: smooth;    /* efecto scrooll*/
}
*{
    margin: 0px;
}

body{
    font-size: 16px;
}

a{
  cursor: pointer;
}
a:link, a:visited, a:active{
    text-decoration:none;
}
.inicio {
    background: url(../img/photo-1555099962-4199c345e5dd.jpeg);
    width: 100%;
    min-height: 50em;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    display: flex;
    flex-direction: column;
}

.inicio .presentacion {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: max-content;
    flex: 3;
    background-color: rgba(17, 17, 17, 0.39);
    justify-content: center;
    padding-bottom: 3em;
    padding-top: 1em;
}
.box-w{
    padding-left: 13%;
    width: max-content;
    height: max-content;
}
.inicio .presentacion .presentacion-container{
    padding-left: 13%;
    display: flex;
    flex-flow: row wrap;
    min-height: max-content;
    padding-top: 10%;
    padding-bottom: 2em;
}
.inicio .presentacion .presentacion-container .imagen-identificar{
    width: 13rem;
    max-width: 100%;
    max-height: 21em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.inicio .presentacion .presentacion-container .informacion{
    padding: 2em;
}

.inicio .presentacion .presentacion-container .informacion-contenido{
    min-width: 10em;
    display: flex;
    min-width: 5em;
    width: 85%;
    flex-direction: column;
}

.barra_contacto > h2{
    margin-bottom: 1em;
}
.redes{
    width: max-content;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
}
.separador{
    flex: 0 0 auto;
    width: 100%;
}
.box-h-1{height: 3rem;}
.box-h-2{height: 1.5rem;}
.box-write{background-color: var(--write);}
.box-secondary{background-color: var(--secondary);}
.box-write .icon-svg{
    fill: var(--secondary);
}
.box-defecto .icon-svg{
    fill: var(--write);
}
.box-flex{
    top: 0px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.info{
    text-align: center;
    width: 13rem;
    margin: 1em;
}
.info h3{
    margin-top: 1em;
    
}
.info p{
    margin-top: 1em;
    margin-bottom: 1em;
}

.icon{
    padding: 0px 0.5rem;
    height: 100%;
    flex: 0 0 auto;
}

.icon-svg{
    fill: var(--secondary);
    height: 100%;
}
a:hover .icon-svg{
    fill: var(--info);
}
.h-1{
    height: 1em;
}
.h-05{
    height: 0.5em;
}
.gal{
    position: absolute;
    top: 1em;
    left: 0px;
    width: 50%;
    max-width: 30em;
    min-width: 20em;
}
.inicio .habilidades{
    position: relative;
    min-height: max-content;
    background-color: var(--primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title-habilidades{
    margin-top: 1.8em;
}


.blur{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    backdrop-filter: blur(5px);
}
.t-1{
    font-size: 3.5em;
}

.t-2{
    font-size: 2.8rem;
}
.t-3{
    font-size: 2.5rem;
}
.t-4{
    font-size: 1.5rem;
}
.t-5{
    font-size: 1rem;
}
.font-a{
    font-family: 'Lexend Deca', sans-serif;
}
.font-b{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.inline-decorator{
    color: #fff;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 10px;
    gap: 6px;
    border-radius: 50px;
}
.inline-border{
    border: var(--primary)  solid 2px;
}

.inline-decorator svg {
    height: 1.25em;
}

.inline-hover{
    padding: 6px 6px;
}

.inline-hover .inline__text{
    display: none;
}
.inline-hover:hover .inline__text{
    height: 100%;
    position: relative;
    display: inline;
    animation: deslizar 300ms;
}



.text-light{
    color: var(--write);
}
.text-primary{
    color: var(--primary);
}
.text-dark{
    color: var(--dark);
}
.text-gray-dark{
    color: var(--gray-dark);
}
@keyframes deslizar{
    0% {
        margin-right: -10px;
        color: #ffffff00;
    }
    50%{
        color: #ffffff00;
        right: -2px;
    }
}
@media only screen and (max-width: 420px) {
    body{
        font-size: 14px;
    }
}