footer{
    background-color: var(--dark);
    height: 20rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
footer .logo{
    text-align: center;
    width: 30em
}
footer .footer-info{
    flex: 1;
    width: 100%;
}
.footer-info p{
    padding: 1rem;
}
footer a{
    color: var(--primary);
}

